frontend/dist/*
frontend/node_modules/*
frontend/scripts/*
frontend/tools_plan.md
frontend/src/system_templates.yaml
deploy/.DS_Store
dist/*
config.yaml
models
mflux
prompt.md
embed_examples.md
sample/*
.DS_Store
pgvec.sh
mcp/mcpenv
scripts/*